<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>

    <h2>Poprawne odpowiedzi 
        <span id="good-answer" class="good-answer">oK</span>
    </h2>

    <div class="question" id="question">
        <button class="answer1" id="answer1">1</button>
        <button class="answer2" id="answer2">2</button>
        <button class="answer3" id="answer3">3</button>
        <button class="answer4" id="answer4">4</button>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>